extends layout

block content

	//- Template for the list of urls
	script#url-list(type="text/template")
		<% _.each(list, function(obj){  %>
		//- li.active
		li
			a(href="#") <%= obj.url %>
		<% }); %>
		
	//- Template for the list of words
	script#word-list(type="text/template")
		<% _.each(list, function(word){  %>
		tr
			td <%= word.w %>
			td <%= word.c %>
			td <%= word.text %>
			td <%= word.ptitle %>
			td <%= word.desc %>
			td <%= word.keyw %>
			td <%= word.heading %>
		<% }); %>

	div.container-fluid
		div.row
			div(class='col-sm-3 col-md-2 sidebar')
				ul#urls-requested(class='nav nav-sidebar')
				//- li.active
					a(href='#') -
						&nbsp;
						img#loading(src='/img/loading.gif')
						
		div(class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main')
			h2.page-header Word count: 
				span 0

			//- div(class='row placeholders')
				div(class='col-xs-6 col-sm-3 placeholder graphic typea')
				img(data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail")
					div 50
					h4 Palabra
					span.text-muted Something else
				div(class='col-xs-6 col-sm-3 placeholder graphic typeb')
				div(class='col-xs-6 col-sm-3 placeholder graphic typec')
				div(class='col-xs-6 col-sm-3 placeholder graphic typed')

			//- h2.sub-header Next
			div.table-responsive
				table#result(class='sortable table table-striped')
					thead
						tr
							th Word
							th.total Total
							th Regular text
							th Page title
							th Description
							th Keywords
							th Headings
					tbody
						tr
							td -
							td 0
							td 0
							td 0
							td 0
							td 0
							td 0
					div#pager