doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='description' content='Count the words in a web, separated by title, description, keywords and more.')
		meta(name='author' content='Aaron Amengual Arranz')
		
		title= title
		
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/dashboard.css')
		link(rel='stylesheet', href='/css/style.css')
		
		script(src='/js/jquery-1.11.0.min.js')
		script(src='/js/sorttable.js')
		
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		<!--[if lt IE 9]>
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		<![endif]-->
		
	body
		div(class='navbar navbar-inverse navbar-fixed-top' role='navigation')
			div(class='container-fluid')
				
				div(class='navbar-header')
					button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					h1
						a.navbar-brand(href='/') Word Web Count
					
				div(class='navbar-collapse collapse')
					form(method='post', action='/', id='form-count', class='navbar-form navbar-left')
						.form-group
							label(for='url') http://&nbsp;
							input(type='text' class='form-control' placeholder='www.website.com' id='url')
						input(type='submit' value='Count' class='btn btn-default')
					
					ul(class='nav navbar-nav')
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown' role='button' href='javascript:void(0)') 
								span Words > 2 letters 
								b.caret
							ul.dropdown-menu(role='menu')
								li(role='presentation' id='no-filter')
									a(href='javascript:void(0)' tabindex='-1' role='menuitem') Do not filter 
								li(role='presentation' id='filter-one')
									a(href='javascript:void(0)' tabindex='-1' role='menuitem') Words > 1 letter 
								li(role='presentation' class='disabled' id='filter-two')
									a(href='javascript:void(0)' tabindex='-1' role='menuitem') Words > 2 letters 
								li(role='presentation' id='filter-three')
									a(href='javascript:void(0)' tabindex='-1' role='menuitem') Words > 3 letters 
						
		block content

		script(src='/js/bootstrap.min.js')
