doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/style.css')
		
	body
		#container
			#header
				h1 Word count
			block content
