.clear{
	clear: both;
	overflow: hidden;
}
.navbar-header h1{
	margin-top: 0;
}
.nav > li > a:hover,
.nav > li > a:focus{
	background-color: #428BCA;
    color: #FFFFFF;
}
.form-count-container{
	margin-bottom: 25px;
}
.form-group input{
	margin-right: 5px;
}
.form-control{
	display: inline;
	width: auto;
}
@media (max-width: 320px) {
	.form-control{
		width: 175px;	
	}
}
h2.page-header{
	float: left;
	width: 100%;
}
h2 .action{
	float: right;
	cursor: pointer;
}
#result th{
	padding: 8px 0px 8px 20px;
	cursor: pointer;
	background: url(/img/bg.gif) left center no-repeat;
}
#result th.sorttable_sorted{
	background: url(/img/asc.gif) left center no-repeat;
}
#result th.sorttable_sorted_reverse{
	background: url(/img/desc.gif) left center no-repeat;
}
#result tr td:first-child{
	max-width: 150px;
}
.suggestion{
	text-align: right;
	font-size: 12px;
}

/* Editor */
#editor-container{
	display: none;
}
#text-editor{
	width: 70%;
	height: 300px;
	float: left;
	margin-bottom: 25px;
	border: 1px solid #000;
	overflow: hidden;
	overflow-y: scroll;
}
#text-editor-info{
	width: 30%;
	float: left;
	padding-left: 10px;
}
#text-editor-info ul{
	padding: 0;
}
#text-editor-info li{
	list-style: none;
}
#words-text{
	clear: left;
	padding: 0;
	list-style: none;
}
#words-text li{
	display: inline-block;
	margin: 0 10px 10px 0;
}
#editor-filter li{	
	padding-left: 20px;
}
#editor-filter li a{
	padding: 0px;
}
#clear{
	margin-bottom: 10px;
}