.clear{
	clear: both;
	overflow: hidden;
}
.navbar-header h1{
	margin-top: 0;
}
.nav > li > a:hover,
.nav > li > a:focus{
	background-color: #428BCA;
    color: #FFFFFF;
}
#form-count label{
	color: #999;
}
.form-group input{
	margin-right: 5px;
}
.form-control{
	display: inline;
	width: auto;
}
@media (max-width: 320px) {
	.form-control{
		width: 175px;	
	}
}
h2.page-header{
	float: left;
	width: 100%;
}
h2 .action{
	float: right;
	cursor: pointer;
}
#result th{
	padding: 8px 0px 8px 20px;
	cursor: pointer;
	background: url(/img/bg.gif) left center no-repeat;
}
#result th.sorttable_sorted{
	background: url(/img/asc.gif) left center no-repeat;
}
#result th.sorttable_sorted_reverse{
	background: url(/img/desc.gif) left center no-repeat;
}
#result tr td:first-child{
	max-width: 150px;
}
.suggestion{
	text-align: right;
	font-size: 12px;
}